<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Data Heist</title>
    <link rel="stylesheet" href="css/main.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Data Heist</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="/New">Check Site Vulnerability</a>
          <a class="nav-item nav-link" href="/facts">Cyber Security Facts</a>
          <a class="nav-item nav-link" href="/sources">Sources</a>
        </div>
      </div>
    </nav>
    <!-- Form for New -->
<br>
    <h2>Data Vulnerability Survey</h2>
    <br>
    <form action="/results" method="POST">
      <div class="mb-3">
          <label for="site">Site URL</label>
          <input
          type="text"
          name="site"
          id="site"
          class="form-control"
          placeholder="www.facebook.com"
        />
      </br>
        <p>I am confident I...</p>
        <label for="passwordSafe">Use strong passwords: </label>
        <input type="checkbox" name="passwordSafe" id="passwordSafe" />
        <br />
        <label for="https">Have a site set up with HTTPS: </label>
        <input type="checkbox" name="https" id="https"/>
        <br />
        <label for="useVPN">Use a VPN when accessing public Wi-Fi: </label>
        <input type="checkbox" name="useVPN" id="useVPN" />
        <br />
        <label for="comment">Comments:</label>
        <textarea
          name="comment"
          id="comment"
          class="form-control"
          id="exampleFormControlTextarea1"
          rows="3"
        ></textarea>
        <br />
<!-- Button to trigger Modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
          Submit
      </button>
<!-- Button to trigger Modal -->
<!-- Modal Logic -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
            Are you sure you want to submit your survey? Responses will be tracked and used for public reporting. 
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Review</button>
                <button type="submit" class="btn btn-primary">Submit</button>
                <!-- <input type="submit" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" value="Submit" /> -->
              </div>
            </div>
          </div>
        </div>
<!-- Modal Logic -->
      </div>
    </form>
<!-- End of form -->
  </body>
</html>
